table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #ffffff;
    color: #000;
    font-size: medium;
    text-align: center;
}

td, th {
    border: 2px solid #eee;
}

table form {
    display:inline;
}

form>div {
    margin-bottom: 1em
}

.error {
    font-size: 80%;color:red;
}
